:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  zoom: 125% !important;
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-blue {
  color: var(--mainBlue);
}
.text-bright {
  color: var(--lightBlue);
}

nav {
  background-color: var(--mainBlue);
}

.nav-link {
  color: var(--mainWhite) !important;
}

#productsLink {
  margin-left: 5px !important;
  transition: all 0.4s linear;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0px !important;
  border: 0.1rem solid var(--mainDark) !important ;
}

.btn-black:hover {
  background: var(--mainDark);
  color: var(--mainWhite);
}

.cart-icon {
  color: var(--mainYellow);
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 1400px) {
  #signupCard {
    /* width: 30rem !important;
    height: 30rem !important; */
    align-items: center !important;
    justify-content: center !important;
  }
}

@media screen and (max-width: 700px) {
  #signupCard {
    align-items: center !important;
    justify-content: center !important;
    max-width: 400px;
    min-height: 600px;
  }

  #loginCard {
    align-items: center !important;
    justify-content: center !important;
    max-width: 400px;
    min-height: 600px;
  }
}
